html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	background: rgb(128, 128, 128);
	color: rgb(0, 0, 0);
}

main {
	background-color: white;
	padding: 20px;
}